.contact_container{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 10px;
    
}

.form_top_btn{
    display: flex;
    gap: 32px;
}

.contact_form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    margin:0 auto;
}

.contact_form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form_control{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.form_control input{
    height: 30px;
    padding: 0 4px;
}

.form_control label{
    font-size: 14px;
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: white;
    padding: 0 10px;
}

.contact_container .contact_image{
   margin-left: 70px;
max-width:500px;
   height: 20px;
   margin-top: -35px;
}

.contact_image img{
 height: 450px;

}